.inputcolorredpointscool {
  background-color: #ff283a;
  border-radius: 20px;
}

.inputcolorbluepointscool {
  background-color: #007bff;
  border-radius: 20px;
}

.omgsexyrow {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.submitButton {
  font-size: 2em;
  background-color: #008000;
  border: 10px solid white;
  margin-right: 4vw;
  animation: 
    rainbow-pulse 10s infinite alternate,
    rainbow-glow 10s infinite alternate;
}

@keyframes rainbow-pulse {
  0% {
    border-color: red;
    transform: scale(1);
  }
  20% {
    border-color: orange;
  }
  40% {
    border-color: yellow;
  }
  60% {
    border-color: green;
  }
  80% {
    border-color: blue;
  }
  100% {
    border-color: purple;
    transform: scale(1.05);
  }
}

@keyframes rainbow-glow {
  0% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7),
                0 0 30px rgba(255, 0, 0, 0.5),
                0 0 40px rgba(255, 0, 0, 0.3);
  }
  20% {
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.7),
                0 0 30px rgba(255, 165, 0, 0.5),
                0 0 40px rgba(255, 165, 0, 0.3);
  }
  40% {
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.7),
                0 0 30px rgba(255, 255, 0, 0.5),
                0 0 40px rgba(255, 255, 0, 0.3);
  }
  60% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.7),
                0 0 30px rgba(0, 255, 0, 0.5),
                0 0 40px rgba(0, 255, 0, 0.3);
  }
  80% {
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.7),
                0 0 30px rgba(0, 0, 255, 0.5),
                0 0 40px rgba(0, 0, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.7),
                0 0 30px rgba(128, 0, 128, 0.5),
                0 0 40px rgba(128, 0, 128, 0.3);
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.popup-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clearButton {
  font-size: 2em;
  margin-top: 2vh;
}

@media (max-width: 768px) {
  .exitnotesboxbutton {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.endrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: space-evenly;
  align-items: center;
}

.endrow > * {
  flex: 1 1 auto; 
}

.buttonscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}