#root {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainContent {
  grid-row: 3;
  grid-column: span 4;
}

.tabs {
  grid-row:2;
  text-align: center;
  font-size: clamp(16px, 20px , 100px);
}
@keyframes outlinePulse {
  0% {
    outline: 4px solid transparent;
    outline-offset: 0px;
  }
  50% {
    outline: 4px solid white;
    outline-offset: 4px;
  }
  100% {
    outline: 4px solid transparent;
    outline-offset: 0px;
  }
}

.tabs:hover {
  border-color: white;
}

.tabs:focus,
.tabs:focus-visible {
  animation: outlinePulse 1.5s ease-in-out;
  outline: none; /* Remove default outline */
}
